.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('resources/HEROBG.gif');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-conf {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('resources/voidcrewshrug.gif');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-round-image {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid whitesmoke;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.topnav {
    background-color: #111111;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
}

    .topnav::after {
        content: "";
        display: table;
        clear: both;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 16px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #FFB900;
            color: black;
        }

.dropdown {
    float: left;
    position: relative;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .topnav a:hover, .dropdown:hover .dropbtn {
        background-color: #ddd;
        color: black;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    width: 100%;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.contactSection {
    position: sticky;
    top: 0;
    float: right;
}

.contact-icon {
    color: white;
    margin-right: 5px;
}

.topnav a:hover .contact-icon {
    color: black;
}

.spotlight-games-title {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.game-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: row;
    text-align: center;
}

.game-image {
    width: 33%;
    max-width: 33%;
    height: auto;
    object-fit: cover;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
}

.game-description {
    width: 50%;
    max-width: 33%;
}

.game-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #111;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

    .learn-more-btn:hover {
        background-color: #ddd;
        color: #111111;
    }

.about-me-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    font-size: 12px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

    .about-me-btn:hover {
        background-color: #ddd;
    }

.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.about-content-vid {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.about-text {
    flex-grow: 1;
    padding-left: 60px;
    padding-right: 60px;
}

.about-image img {
    max-width: 500px;
    min-width: 300px;
    max-height: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid black;
    margin-top: 30px;
}

.about-games img {
    max-width: 300px;
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 30px;
    border: 1px solid black;
}

.about-conference img {
    max-width: 400px;
    min-width: 400px;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 100px;
    border: 1px solid black;
}

.game-bottom-image {
    width: 100%;
}

.game-image-resp {
    display: none;
}

.about-content-text {
    text-align: justify;
}

.topnav .icon {
    display: none;
}

.video {
    display: block;
}

.video-resp {
    display: none;
}

@media screen and (max-width: 1000px) {
    .game {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .game-image {
        display: none;
    }

    .game-image-resp {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border: 1px solid black;
        display: flex;
    }

    .game-description {
        width: 75%;
        max-width: 75%;
    }

    .topnav a {
        font-size: 12px;
        padding: 9px;
    }

    .contact-icon {
        font-size: 13px;
    }

    .about-content {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
    }

    .about-content-vid {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-games img {
        display: none;
    }

    .about-conference img {
        display: none;
    }

    .hero-image {
        height: 150px;
    }

    .hero-image-conf {
        height: 150px;
    }

    .hero-round-image {
        width: 85px;
        height: 85px;
        left: 20%;
    }

    .hero-text {
        margin-left: 0px;
    }

    .hero-container p {
        font-size: 15px;
    }

    .hero-container h1 {
        font-size: 19px;
    }

    .about-me-btn {
        display: inline-block;
        padding: 6px 8px;
        background-color: white;
        font-size: 10px;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }

        .about-me-btn:hover {
            background-color: #ddd;
        }

    .about-image img {
        max-width: 200px;
        min-width: 200px;
        max-height: 500px;
        width: 100%;
        height: auto;
        object-fit: cover;
        border: 1px solid black;
        margin-top: 30px;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav a.icon {
        position: relative;
        left: 0;
        top: 0;
        width: 30px;
    }

    .topnav a {
        display: block;
        text-align: left;
    }

    .contactSection {
        position: relative;
        top: auto;
        flex-direction: row;
    }

    .topnav .dropbtn {
        font-size: 12px;
        padding: 9px;
    }

    .dropdown-content {
        min-width: 50px;
    }

        .dropdown-content a {
            padding: 9px;
        }

    .game-text {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: justify;
    }

    .learn-more-btn {
        display: inline-block;
        padding: 7px 14px;
        background-color: #111;
        font-size: 14px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .video {
        display: none;
    }

    .video-resp {
        display: block;
    }
}
